<h1>Uptime monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  Free uptime monitoring.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Accusamus ad asperiores atque ex facere, incidunt iste magnam, nesciunt odio,
  possimus quibusdam quisquam sint soluta temporibus voluptatem?
  Architecto laboriosam pariatur vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Alias at autem, consequatur distinctio ducimus earum et
  facilis fugit laboriosam maxime nam nemo numquam odit omnis perferendis possimus
  ut veniam voluptates.
</div>

<div class="ctaWrapper">
  <a href="account/create" class="cta green">Get started</a>
  <a href="session/create" class="cta blue">Get started</a>

</div>